<!doctype html>

<html>

<head>
	<meta charset="utf-8">
	<title>StreetMap by Eleonore</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDMBtF2tCkYSNzMl4OqRlUHj7ahkgUFU_A&sensor=false&region=GB">
	</script>
	<link rel="stylesheet" href="/static/css/StreetMap.css"
		type="text/css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css"
		type="text/css">
	<script src="/static/js/StreetMap.js"></script>
</head>

<body>
	<h1>StreetMap</h1>

		<div id="googleMap"></div>
			
			<div class="stores_names"> {{names}} </div>
			<div class="lat_lng"> {{lat_lng}} </div>

		<div id="store_info">
			<ol>{% for name, oh in info %} 
				<li> {{ name }} </li>
					<p>Opening hours:</p>{{ oh }}  
				{% endfor %} 
			</ol>
		</div>
		
</body>

</html>